@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body { /*Configurazione del body*/
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center; /*Centro tutti i testi del body*/
    color: #393d41;
}

header{
    text-align: left;
    background-color: black;
    padding: 0.8em;
}

header img{
    width: 8em;
    margin-left: 1em;
}

.intro{
    text-align: center;
    padding: 3em;  /*Definsco il padding del intro*/
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat; 
    background-size: cover; /*Ridimensionamento del background*/
    margin-bottom: 3em; /*Distanzio il primo paragrafo*/
}

.intro h1{
    font-size: 2em;
    margin-bottom: 0.8em;
    font-weight: bolder;
    color: #25a2c3;
}

.intro p{
    margin-bottom: 3.5em;
}

.intro a{
    color: white;
    background-color: #f04c2f;
    font-weight: bolder;
    border-radius: 4px;
    padding: 0.8em;
    text-decoration: none;
    cursor: pointer;
}
.banner{
    background-color: #e22d0e;
    padding: 3em;
    color: white;
    margin-bottom: 2em;
}

.banner h2{
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 1em;
}

.banner h4{
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.banner h5{
    font-size: small;
}

footer{
    background-color: #25a2c3;
    padding: 2em;
}


.box{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.articolo1 img{
  width: 400px;
  margin-bottom: 1em;
}

.articolo2 img{
    width: 400px;
    margin-bottom: 1.3em;
}

.articolo3 img{
    width: 440px;
    margin-bottom: 1em;
}

.articolo1 h3{
    color: #25a2c3;
    font-size: 1.em;
    font-weight: bolder;
}

.articolo2 h3{
    color: #25a2c3;
    font-size: 1.em;
    font-weight: bolder;
}

.articolo3 h3{
    color: #25a2c3;
    font-size: 1.em;
    font-weight: bolder;
}

footer h3{
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bolder;
}

.contatti li , a{
    list-style: none;
    margin-bottom: 0.5em;
    color: white;
}

hr{
    width: 12em;
    margin-top: 2em;    /*Ridimensione i margini tra i contatti e il copy*/
    margin-bottom: 2em;
}

.contatti p{
    color: white;
    font-size:small
}